#navbar {
  background-color: white;
  box-shadow: 0px 1px #eee;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sitelogo {
  justify-self: start;
  margin-left: 20px;
}

.navmenu {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style-type: none;
  font-family: sans-serif;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navlinks {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
}

.navlinks:hover {
  background-color: #eff1f2;
  /* color: white; */
  cursor: pointer;
  border-radius: 4px;
}

#logo {
  width: 108px;
}

.menu-container {
  position: relative;
  display: inline-block;
}

#user-button {
  padding: 15px 15px;
  border: none;
  font-size: 20px;
  margin: 0;
  background-color: inherit;
  color: #1b96bb;
  transition: all 0.2s ease-out;
  border-radius: 4px;
}

#user-button:hover {
  background-color: #eff1f2;
  /* color: white; */
  cursor: pointer;
}

#user-menu {
  position: absolute;
  margin-top: 2px;
  width: 120px;
  background-color: white;
  text-align: end;
  background-color: #fff;
  border: #eee 1px solid;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  font-size: 15px;
  color: #000;
  line-height: 32px;
  border-radius: 5px;
  z-index: 1;
  top: 58px;
  padding: 10px 0;
}

.user-menu-buttons {
}

.demo-button {
}
